/* for Event cards */

.eventCard{
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  width: 500px;
  transition: 400ms linear;
}

.eventCard:hover {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  width: 500px;
  box-shadow: 0 17px 9px -7px rgba(188,0,221,0.35);
  transform: scale(1.01);
  border: 1px solid rgb(182, 178, 178);
}

.eventCard a,
.eventCard div {
  display: flex;
  justify-content: center;
}


.eventPicture{
  /* height: 10rem; */
  display:flex;
  flex-wrap: wrap;
  max-height: 275px;
  min-height: 225px;
  max-width: 325px;
  min-width: 180px;
}

.events-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 60px;
}


.picture_info-container{
  display: flex;
  height: 100vh;
  width: 100%;
  margin-top: 75px;
}


#current-event_picture{
  /* width: 675px; */
  margin-left: 85px;
  height: 360px;
  width: auto;
}




/* .event-Page-location{
  display:flex; */
  /* flex-direction */
/* } */

.currentImg-div{
float: left
}


.event-page-details{
  text-align: center;
  vertical-align: text-top;
  width: 100%;
  /* margin: 100px; */
  border: rgb(182, 178, 178) solid 10px;
  margin-top: -43px;
  height: 425px;
}


.eventTitle{
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 800;
  margin-top: 25px;

}

.eventDate{
  margin-bottom: 10px;
  font-size: 22px;
}


.event-Page-location {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 25px;
  font-style:italic;
  /* color: #BC00DD; */
}


.event-Page-description{
  margin-bottom: 45px;
  /* font-weight: 800; */
  font-size: 25px;
  font-style:italic;
}

.event-Page-ticketCount{
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 25px;
   color: #BC00DD;
}



.eventCard-title{
  /* color: #d63e17; */
  font-weight: 800;
  font-size: 18px;
}

.register-btn-container{
  display: flex;
  justify-content: center;
}

.register-Btn{
  display: flex;
  padding: 5px;
  margin: 5px;
  width: 170px;
  justify-content: center;
  border-radius: 5px;
}
