#test{
  height:300px;
}

.frontPage-banner-container{
  width: 100%;
  border: blue solid 2px;
  /* object-fit: cover; */
  display:flex;
  justify-content: center;
}


.motto-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 350px;
  background-color: #f7f6f6;
  /* border: gray solid 5px; */
  padding: 0px 50px;
}

.motto-inner-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 100px;
}


.motto-top{
  font-size: 36px;
  line-height: 62px;
  display: flex;
  align-items: center;
}

.motto-bottom{
  font-size: 45px;
  line-height: 62px;
  font-weight: 800;
  display: flex;
  /* margin-top: 100px; */
}


.frontPage-Picture{
  display: block;
  width: auto;
  height: 500px;
  /* margin-left: 200px; */
  justify-content: center;
}
