/* TODO Add site wide styles */

* {
  padding: 0;
  margin: 0;
}


/* :root {
  --shadow: #D3D3D3;
  --background: gray;
} */


/* --------------------------------For Modals -------------------------------------------------- */
/* form {
  background-color: #d3d3d3;
  width: 245px;
  height: 260px;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
} */


input {
  border: 0;
  border-radius: 3px;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  background-color: #f7f6f6;
  width: 100%;
  margin: 10px 0px 20px 0px;
  padding: 10px;
}
