
 .navbar-container{
  display:grid;
  grid-template-columns: repeat(12,1fr) ;
  background-color:rgba(0, 0, 0, 0.8);
  color:rgb(180, 178, 178);
  min-height:65px;
  width: 100%;

  /* flex-direction: row; */
 }


 .navbar-container * {
  display: flex;
  align-items: center;
 }


 .logo-button{
   grid-column: 1/2;
   text-decoration: none;
   color:rgb(180, 178, 178);
   justify-content: center;
   text-decoration: none;
 }

 .searchBar{
   grid-column: 4/6;
 }


 .randomEventBtn-container{
  grid-column: 10/11;
 }


 .link-btn-container{
  grid-column: 11/13;
 }




 .link-btn-container .LogInBtn-container,
 .link-btn-container .signInBtn-container {
  padding-left: 80px;
 }
