.navbar-header {
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: top;
  width: 100%;
}

.navbar-header a {
  display: block;
}

.navbar-header .menu-area {
  height: 80px;
  position: relative;
  /* -webkit-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  transition: background-color .3s ease; */
  box-sizing: border-box;
}

.nav-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  /* background-color: lightgray; */
}

.navbar-header .nav-container {
  padding: 0 23px
}

.nav-container .nav-position-left {
  /* position: relative; */
  float: left;
  height: 100%;
  text-align: left;
}

.nav-container .nav-position-right {
  /* position: relative; */
  float: right;
  height: 100%;
  text-align: right;
}

.nav-container .left-inner-nav .right-inner-nav {
  vertical-align: middle;
  display: inline-block;
}

.logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.logo-name {
  color: #111111;
  margin: 0px;
  text-decoration: none;
  font-weight: bold;
  height: 20px;
  font-size: 20px;
  transition: 400ms linear;
}