
 .navbar-container{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  background-color: white;
  color: #111111;
  /* min-height: 65px; */
  height: 130px;
  width: 100%;

  /* flex-direction: row; */
 }


 .navbar-container * {
  display: flex;
  align-items: center;
 }


 .logo-button{
   grid-column: 1/2;
   justify-content: center;
 }

 .logo-name{
  color:#111111;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 0px 35px;
  transition: 400ms linear;
 }


 .logo-name:hover{
  color:#111111;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 0px 35px;
  transition: 400ms linear;
  box-shadow: 0 17px 9px -7px rgba(188,0,221,0.35);
 }

 .searchBar{
   grid-column: 3/6;
 }


 .randomEventBtn-container{
  grid-column: 10/11;
 }


.randomEventBtn-wording:hover{
  transition: 400ms linear;
  box-shadow: 0 17px 9px -7px rgba(188,0,221,0.35);
  /* border: 2px solid rgba(188,0,221,0.35); */
  cursor:pointer;
}

 .link-btn-container{
  grid-column: 11/13;
  cursor: pointer;
  padding-left: 70px;
 }


.LogInBtn-container:hover{
/* padding-left: px; */
transition: 400ms linear;
box-shadow: 0 17px 9px -7px rgba(188,0,221,0.35);
}


.signInBtn-container{
  padding-left: 45px;
  /* box-shadow: 0 17px 9px -7px rgba(188,0,221,0.35); */

}

 /* .link-btn-container .LogInBtn-container,
 .link-btn-container .signInBtn-container {
  padding-left: 70px;
  cursor: pointer;
 } */


 .profile-btn-container{
  width: inherit;
  display: flex;
  cursor:pointer;

 }


 i{
  grid-column: 11/12;
  display: flex;
  width:inherit;
  font-size: 35px;
  justify-content:flex-end;

 }
